li {
  list-style: none;
}

#assignSection,
#dischargeSection,
#updateSection {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 50%; /* Full width (cover the whole page) */
  height: 80%; /* Full height (cover the whole page) */
  top: 10%;
  left: 25%;
  right: 25%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.addKeeperForm,
.keeperTable,
.addAnimalForm,
.animalTable,
.addNoteForm,
.noteTable {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
}

html,
body,
#root {
  height: 100%;
  background-color: #343a40;
}
